<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\MessageQueue\ConnectionTypeResolver">
        <arguments>
            <argument xsi:type="array" name="resolvers">
                <item xsi:type="object" name="dummy">Yireo\Fixes\MessageQueue\DummyConnectionTypeResolver</item>
            </argument>
        </arguments>
    </type>
</config>
